body {
    width: 100%;
    min-height: 100vh;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    color: white;
    padding: 10px;
    justify-content: space-around;

}

.header-logo {
    padding: 10px;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 5px;
}

.header-links-container {
   padding: 10px;
   display: flex;
   justify-content: space-between;
}

.header-link-one,
.header-link-two,
.header-link-three {
    padding: 10px;
    font-size: 18px #E5E7EB;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 50px 10px;
    justify-content: space-around;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
}

.hero-text-container div {
    padding: 5px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    width: 350px;
}

.hero-secondary-text {
    font-size: 18px #E5E7EB;
    width: 410px;
}

.hero-image img {
  width: 150px;
  height: 150px;
}

.sign-up button {
    color: white;
    background: rgb(37, 133, 236);
    border-radius: 4px;
    border: none;
    padding: 5px 20px;
}

.information-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.information-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2938;
    padding: 40px;

}

.information-boxes {
    display: flex;
    padding: 0px;
    justify-content: space-between;
 
}


.information-button button {
    padding: 55px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.information-box {
    padding: 50px;
}

.information-button-text {
    width: 100px;
    text-align: center;
    padding: 7px;
}

.quote-container {
    font-size: 36px;
    font-family: Arial, sans-serif;
    color: #1F2937;
    background: #E5E7EB;
}

.quote-text, .quote-author {
    padding: 40px;
    text-align: center;
}

.action-container {
    padding: 80px;
}

.action-box {
    border: 10px solid black;
    display: flex;
    justify-content: space-between;
}